.git
.gitignore
logs/
output/
debug_outputs/
musicxml_output/
models/
data/input_images/
data/input_pdfs/
data/training_images/
data/training_pdfs/
*.pyc
__pycache__/
*.png
*.jpg
*.jpeg
*.pdf
*.onnx
*.pt
homr/.venv/
src/tools/.toolvenv/
setup_scripts/logs/
